<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@consortianet">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.excerpt | escape }}">
<meta name="twitter:url" content="{{ page.url }}">
{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/{{ page.image }}">
{% else % }
  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/{{ post.image }}">
{% endif % }
